h2.intro, h3 {
    font-weight: bold;
}

img {
  width: 200px;
  object-fit: contain;
}

p.heading {
    font-weight: bold;
}
span.express {
    color: gray;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
.code-block {
    background-color: #ddd;
    padding-left: 2%;
    margin-bottom: 2%;
}

span.comment, .download-node {
    display: block;
    color: gray;
}

.var {
    color: rgb(10, 77, 87);
}
.declare {
  color: rgb(23, 7, 247);
}
.variable {
    color: rgb(36, 196, 36);
}
.braces {
    color: rgb(141, 141, 46);
}
.braces-1 {
    color: purple;
}
.braces-2 {
    color: blue;
}
.lib {
    color: rgb(246, 143, 8);
}
.param {
    color: orange;
}
.arrow {
    color: blue;
}

.summary {
    margin-bottom: 0;
}