h2.intro {
    font-weight: bold;
}

p.heading {
    font-weight: bold;
}

.code-block {
    background-color: #ddd;
    padding-left: 2%;
    margin-bottom: 2%;
}
span.api {
    font-weight: bold;
    /* text-decoration: underline; */
    margin-top: 1%;
}
a.api {
    margin-left: 1%;
}

span.comment, span.api {
    display: block;
    color: gray;
    padding-top: 2px;
    padding-bottom: 2px;
}
#app-image {
    object-fit: cover;
}

.var {
    color: rgb(10, 77, 87);
    padding-left: 1px;
    padding-right: 1px;
}
.str {
    color: rgb(240, 145, 22);
}
.declare {
  color: rgb(23, 7, 247);
}
.variable {
    color: rgb(36, 196, 36);
}
.braces {
    color: rgb(141, 141, 46);
}
.braces-1 {
    color: purple;
}
.braces-2 {
    color: blue;
}
.lib {
    color: rgb(246, 143, 8);
}
.param {
    color: orange;
}
.arrow {
    color: blue;
}
.sp {
    color: rgb(59, 152, 214);
}

.summary {
    margin-bottom: 0;
}